{%extends 'All-images/base.html'%}
{% block content %}
<div class="container" style="background-color:darkgrey;  border:0px" >


        {% if all_images%}
        <h2>Found {{ all_images|length }} of searched term {{message}}</h2>


        {% else %}
        <h2> Found 0 images for the search term {{message}}</h2>
        {% endif %}

        {% if all_images %}
          <h1>{{image.image_name}}</h1>
        <div class="row">

        {% for image in all_images %}
        <div class="col-md-4" style="height: 50%; width:100%;">

            
            <div class="w3-row-padding">
              <div class="w3-container w3-third">
                <img src="{{image.image_path.url}}" style="height:350px; width:350px;cursor:pointer;"
                onclick="onClick(this)" class="w3-hover-opacity">
              </div>
            </div>

            <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
              <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
              <div class="w3-modal-content w3-animate-zoom">
                <img id="img01" style="width:100%">
              </div>
            </div>

            <script>
            function onClick(element) {
              document.getElementById("img01").src = element.src;
              document.getElementById("modal01").style.display = "block";
            }
            </script>


        </div>
        {% endfor %}
    </div>
        {% endif %}

   </div>
           {% endblock %}
