{% extends 'All-images/base.html' %}
{% block content %}
<!-- <h1>Karibu Homegrown Ent.</h1> -->

<div class="container" style="background-color: lightblack" id="yobra" >
    <div class="row">
        <!-- <p>{{gallery_item.image_name}}</p> -->
          <p>  {% for gallery_item in image %}</p>
            <div class="col-md-2" style="height:350px; width:350px;">


            <!-- <img src="{{gallery_item.image_path.url}}" class="img-responsive" alt="" style="height:250px; width:350px; "> -->
            <div class="w3-row-padding">
              <div class="w3-container w3-third">
                <img src="{{gallery_item.image_path.url}}" style="height:250px; width:350px;cursor:pointer;"
                onclick="onClick(this)" class="w3-hover-opacity">
              </div>
            </div>

            <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
              <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
              <div class="w3-modal-content w3-animate-zoom">
                <img id="img01" style="width:100%">
              </div>
            </div>

            <script>
            function onClick(element) {
              document.getElementById("img01").src = element.src;
              document.getElementById("modal01").style.display = "block";
            }
            </script>

        </div>
            {% empty %}
            <h1>brian</h1>
            {% endfor %}

    </div>
</div>
{% endblock %}
